html,body,div,article,header,section,nav,aside,footer,p,ul,li,a,ol,dl,dt,dd,span,i,b,h1,h2,h3,h4,h5,hr,table,tbody,thead,th,td,tr,i{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    zoom: 1;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

table{
    resize: none;
}